.detail__img-box {
    padding: 0 24px;
    &-content {
       & img {
            width: 540px;
            height: 540px;
           &:hover {
               cursor: crosshair !important;
           }
       }
    }
}